.jokeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  margin: 15px 0;
}

i {
  height: 70px;
  padding: 0 5px 0 0;
  overflow-y: auto;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.button {
  margin: 10px 0;
  border-radius: 8px;
  width: inherit;
  padding: 4px;
}